* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1212;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

a,body {
    color: black;
}

.top {
    width: 100%;
    height: 60px;
    background-color: rgba(207, 211, 213, 1);
    position: fixed;
    box-shadow: 10px 0 15px 0 rgb(189, 192, 194);
}

.left {
    margin-top: 60px;
    float: left;
    width: 25%;
    text-align: center;
    position: fixed;
}

.left > * {
    padding: 10px 15px;
}

.main {
    margin-top: 60px;
    float: right;
    width: 65%;
    margin-right: 8%;
    background-color: rgba(207, 211, 213, 0.76);
}
/*.header .logo {
    padding: 10px 20px;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
}
*/

.nav a {
    display: block;
    padding: 8px;
    color: #799;
    transition: 200ms;
}

.nav a:hover {
    color: black;
}
.article-list, 
.comments,
.article {
    padding: 20px 30px;
    box-shadow: 5px 0 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.article-list .item .title, 
.comments .tittle, 
.article .title {
    font-size: 30px;
    font-weight: 700;
}

.article-list .item .status, 
.article .status {
    font-size: 13px;
    color: #799;
}

.article-list .item > *, 
.article  {
    margin: 10px 0px;
}

textarea {
    padding: 5px;
    border: 3px solid #799;
    width: 82%;
    height: 100px;
    resize: none;
}

li {
    width: 82%;
    font-size: 5px;
}

.comments .tittle {
    margin: 0px 10px;
    border-radius: 10px;
}

.top .var {
    margin-left: 7%;
    word-spacing: 10px;
}


.left img {
    width: 35%;
    height: 35%;
    border-radius: 50%;
}

/* .left .header img :hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
} */

.comments .button {
    float: right;
    padding: 50px 35px;
}

button {
    height: 25px;
    width: 50px;
    background-color: white;
    border: 3px solid #799;
    border-radius: 10px;
}

.article .content img {
    width: 200px;
}