body {
    background-color: #1212;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

a,body {
    color: black;
}

.left {
    float: left;
    width: 25%;
    text-align: center;
    position: fixed;
}

.left > * {
    padding: 10px 15px;
}

.main {
    float: right;
    width: 65%;
    margin-right: 8%;
    background-color: rgba(207, 211, 213, 0.76);
}
.header .logo {
    border: 5px solid black;
    line-height: 1;
    padding: 10px 20px;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
}

.nav a {
    display: block;
    padding: 8px;
    color: #799;
    transition: 200ms;
}

.nav a:hover {
    color: black;
}
.article-list, 
.comments,
.article {
    padding: 20px 30px;
    box-shadow: 5px 0 3px 2px rgba(0, 0, 0, 0.2);
}

.article-list .item .title, 
.comments .tittle, 
.article .title {
    font-size: 30px;
    font-weight: 700;
}

.article-list .item .status, 
.article .status {
    font-size: 13px;
    color: #799;
}

.article-list .item > *, 
.article  {
    margin: 10px 0px;
}

textarea {
    padding: 5px;
    border: 3px solid #799;
    width: 82%;
    height: 100px;
    resize: none;
}

li {
    width: 82%;
    font-size: 5px;
}

.comments .tittle {
    margin: 0px 10px;
}
